 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="css/style.css">

 </head>
 <body>
  <div class="container-fluid main_menu">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand" href="#"><i class="fa-solid fa-user-secret"></i></a>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Login <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/mainpage">SignUp</a>
                    </li>
                 
                    </ul>

                </div>
              </nav>
        </div>
    </div>
  </div>
 </body>
 </html>